<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Inconsolata" rel="stylesheet">
    <meta charset='utf-8'>
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <div id="app"></div>
      <div class="commentary{{#if isMain}} commentary--main{{/if}}">
        <div class="commentary__content">
          {{{content}}}
        </div>
      </div>
      <nav class="nav">
        {{#if backwardLinkUrl}}
          <a class="nav-link nav-link--left" href="{{backwardLinkUrl}}">&larr;</a>
        {{/if}}
        {{#if forwardLinkUrl}}
          <a class="nav-link nav-link--right" href="{{forwardLinkUrl}}">&rarr;</a>
        {{/if}}
      </nav>
    </div>
    <script src="cphrain.js"></script>
    <script src="cphrain-demo.js"></script>
    <script>
      cphRainDemo['{{rain}}']();
    </script>
  </body>
</html>
