<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Inconsolata" rel="stylesheet">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="wrapper" class="wrapper wrapper--hidden">
      <div id="app"></div>
      <div class="commentary{{#if isMain}} commentary--main{{/if}}">
        <div class="commentary__content">
          {{{content}}}
        </div>
      </div>
      <nav class="nav">
        {{#if backwardLinkUrl}}
          <a class="nav-link nav-link--left" href="{{backwardLinkUrl}}">
            <svg stroke="#0F6699" viewBox="0 0 100 100">
              <g stroke-width="6" stroke-linecap="round" stroke-linejoin="round">
                <line x1="25" y1="50" x2="75" y2="50"/>
                <line x1="25" y1="50" x2="40" y2="62"/>
                <line x1="25" y1="50" x2="40" y2="38"/>
              </g>
            </svg>
          </a>
        {{/if}}
        {{#if forwardLinkUrl}}
          <a class="nav-link nav-link--right" href="{{forwardLinkUrl}}">
            <svg stroke="#0F6699" viewBox="0 0 100 100">
              <g stroke-width="6" stroke-linecap="round" stroke-linejoin="round">
                <line x1="25" y1="50" x2="75" y2="50"/>
                <line x1="75" y1="50" x2="60" y2="62"/>
                <line x1="75" y1="50" x2="60" y2="38"/>
              </g>
            </svg>
          </a>
        {{/if}}
      </nav>
    </div>
    <script src="cphrain.js"></script>
    <script src="cphrain-demo.js"></script>
    <script>
      domReady(function() {
        document.getElementById('wrapper').className = 'wrapper';
        console.log("Hi, Mom!");
        cphRainDemo["{{rain}}"]();
      });
    </script>
  </body>
</html>
